*{
  padding: 0px;
  margin: 0px;
  font-family: "Eras ITC Light";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ******************************* NavBar ******************************* */
header
{
  position: relative;
  margin-top: 40px;
  left: 0;
  width: 100vw;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(1px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header .world
{
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  text-decoration: none;
}

header .navigation
{
  position: relative;
  display: flex;
}

header .navigation li
{
  list-style: none;
  margin-left: 30px;
}

header .navigation li a 
{
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
}

header .navigation li a:hover
{
    color: #f56363;
}

.blurbg 
{
  padding: 20px;
}

.blurbg:hover
{
  background-color:rgba(0, 0, 0, 0.3);
  border: 1px solid;
  box-shadow: 0px 0px 1/2px 0.5px rgb(0, 0, 0);
  border-image: url(images/shine.png) 120 stretch;
  transition: 0.5s ease;
}

.blurbg:active
{
  background-color:rgba(0, 0, 0, 0.5);
  transition: 1s ease;
}
    


/* ******************************* Banner ******************************* */
body
{
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.banner
{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#message 
{
  background-color:rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.295);
  border-image: url(images/shine.png) 120 stretch;
  backdrop-filter: blur(5px);
  padding:30px;
  color:rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  width: 70%;
  transition: 1s;
}  

#message:hover
{
  background-color:rgba(0, 0, 0, 0.9);
}

#border 
{
  text-decoration: none;
  border-radius: 100px;
  border-image: url(images/shine.png) 120 stretch;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  top: 20px;
}

  #discover 
{
  background-color:rgba(0, 0, 0, 0);
  border-radius: 100px;
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(5px);
  padding:30px;
  color:rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  transition: 1s;
}

#discover:hover
{
  backdrop-filter: blur(3px);
}

#discover:active
{
  content: "";
  background: #f1f1f1;
  opacity: 0;
  transition: 0.2s ease;
}



/* ******************************* Footer ******************************* */
.footer-content
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 60px;
  height: 50px;
}

.footer-content p
{
  color: white;
  font-size: 25px;
}

.footer-content .socials-left
{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-content .socials-right
{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-content ul li
{
  list-style-type: none;
}

.footer-content ul li a
{
  text-decoration: none;
}

.footer-content img
{
  width: 40px;
  height: 40px;
}
 


/* *******************************Responsive******************************* */
@media (max-width: 991px)
{
    header
    {
        padding: 10px 20px;
        z-index: 1;
    }

    header .navigation
    {
        display: none;
    }

    header .navigation.active
    {
        width: 40%;
        height: 90vh;
        position: fixed;
        top: 0px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background: rgba(0, 0, 0, 0.925);
    }

    header .navigation li
    {
        margin-left: 0;
    }

    header .navigation li a 
    {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        font-weight: 300;
    }

    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1;
    }

    .menuToggle.active
    {
        background: url(images/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    #message, #discover
    {
      font-size:24px;
    }

    section
    {
      padding: 0px;
    }

    .block
    {
      margin: 0 0 20px 0;
    }

    .footer-content
    {
      padding: 0 30px;
    }


    .footer-content p
    {
      font-size: 1em;
    }
}

@media (max-width: 350px)
{
    header .world
    {
      font-size: 1.5em;
    }

    #message, #discover
    {
      font-size:20px;
    }

    .footer-content
    {
      flex-direction: column;
      height: 100%;
    }

    .footer-content p
    {
      font-size: 1em;
    }

    
}