  *{
    padding: 0px;
    margin: 0px;
    font-family: "Eras ITC Light";
    box-sizing: border-box;
  }

  body {
    background-image: url("Background.jpg");
    background-size: cover;
  }
  
scrollbar {
  display: none;
}

  header {  
    position: relative;
    top:50px;
  }



  /* *******************************************************************NavBar***************************************************************** */
  nav 
  {
    display: flex;
    position: relative;
    padding: 5px 0px;
    justify-content: space-between;
    backdrop-filter: blur(1px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background-color:rgba(0, 0, 0, 0.5);
    color: White;
    font-size: 25px;
    align-items:center;
  }

  #world 
  {  
    display: flex; 
    padding: 0px 0px 0px 50px; 
    position: relative;
    left:120px;
  }

  a
  {
    text-decoration: none;
    color:white;
  }

  .main {
    display: flex;
    position: relative;
    right:80px;
    gap: 20px;
  
  }

  .blurbg 
  {
    padding: 20px;
  }

   .main .blurbg:hover
   {
    background-color:rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    border-image: url(Shine.png) 120 stretch;
   }
   
   main {
     position: relative;
     top:50px;
   }



/* ****************************************************************Below NavBar************************************************************** */
main
{
  display: flex;
  justify-content: center;
  padding-top: 20px ;
} 

.container
{
  width: 60%;
  text-align: center;
}

.container h1
{
  color:white;
}

.contact-box
{
  margin-top: 20px;
  background: #fff;
  display: flex;
}

.contact
{
  width:100%;
  padding: 40px 60px;
}

.input-row
{
display: flex;
justify-content: space-between;
padding-bottom: 40px;
}

.input-row .input-group
{
flex-basis: 45%;
}

input
{
 width:100%;
 border: none;
 border-bottom: 1px solid #ccc;
 outline: none;
 padding-bottom:5px;
}

textarea
{
  width:100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label
{
  margin-bottom: 6px;
  display: block;
  color: #000000;
}

button
{
background: #000000;
width: 100px;
border: none;
outline: none;
color: #fff;
height: 35px;
border-radius: 30px;
margin-top: 20px;
}

.contact h3
{
  color: #ff0000;
  font-weight: 600;
  margin-bottom: 30px;
}


